@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Staatliches&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--foreground: #0d1016;
		--background: #eef1f6;
		--background_light: #fff4fc;
		--primary: #aa4266;
		--secondary: #ad0156;
		--accent: #a90f47;
	}

	.dark {
		--foreground: #e9ecf2;
		--background: #090c11;
		--background_light: #1f242f;
		--primary: #99a8cc;
		--secondary: #394c79;
		--accent: #5874b6;
	}

	body {
		@apply bg-background;
		@apply select-none;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-heading;
	}

	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-2xl;
	}

	p {
		@apply font-paragraph;
		@apply select-auto;
	}

	span,
	a,
	button {
		@apply font-text;
	}
}
