@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Staatliches&display=swap');
@import '@fontsource-variable/epilogue';
@import '@fontsource-variable/lexend';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--foreground: #0d1016;
		--foreground_pale: #3d4036;
		--background: #d9dcef;
		--background_light: #eaeaff;
		--primary: #394c79;
		--secondary: #99a8cc;
		--accent: #5874b6;
		--error: #992020;
	}

	.dark {
		--foreground: #e9ecf2;
		--foreground_pale: #797c82;
		--background: #090c11;
		--background_light: #1f242f;
		--primary: #394c79;
		--secondary: #99a8cc;
		--accent: #5874b6;
		--error: #ff6060;
	}

	html {
		@apply h-full;
	}

	body {
		@apply bg-background;
		@apply h-full;
		@apply animate-[breathe_2s_ease-in-out_infinite];
		@apply bg-gradient-to-t;
		@apply from-primary;
		@apply via-accent via-15%;
		@apply to-background;
		@apply to-80%;
		@apply bg-[length:100%_400%];
		@apply custom-bg-animation;
	}

	.custom-bg-animation {
		animation: breathe 2.5s ease-in-out infinite alternate;
	}
	@keyframes breathe {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 0 12.5%;
		}
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-heading;
	}

	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-2xl;
	}

	p {
		@apply font-paragraph;
	}

	span,
	a,
	button {
		@apply font-text;
	}

	@keyframes bounce-right {
		0%,
		100% {
			transform: translateX(0);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}

		50% {
			transform: translateX(25%);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}

	.animate-bounce-right {
		animation: bounce-right 1s infinite;
	}

	@keyframes bounce-left {
		0%,
		100% {
			transform: translateX(0);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}

		50% {
			transform: translateX(-25%);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}

	.animate-bounce-left {
		animation: bounce-left 1s infinite;
	}
}
